/* ------------------- HEADER & MENU ------------------- */
header
{
    background-image: linear-gradient(to right, #041028, #031432, #01173b, #011a45, #031c4f);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    position: fixed;
	z-index: 10;
	width: 100%;
    height: 100px;
    top: 0;
	left: 0;
}

h1
{
    font-family: 'Satisfy', cursive;
}

h1 a
{
    text-decoration: none;
    color: white;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    font-size: 1em;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

nav li
{
    margin-right: 25px;
    font-family: 'Courgette', cursive;
}

nav a:hover
{
    border-top: 3px solid #a28a74;
    padding-top: 35px;
    color: #a28a74;
}

body
{
    
}

/* ------------------- BANNIERE ------------------- */
#banniere
{
    display: flex;
    justify-content: center;
    margin-top: 115px;
}

/* ------------------- PRESENTATION ------------------- */
h2
{
    text-align: center;
}

.titre_presentation
{
    font-size: 35px;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
}

#etoile_arudy
{
    text-align: center;
    font-weight: bold;
    font-size: 33px;
    font-family: 'Buenard', serif;
}

#valeurs_restau
{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}

#michelin
{
    display: flex;
    justify-content: center;
}

#p_h2
{
    text-align: center;
    font-size: 23px;
}

/* ------------------- SEPARATEUR ------------------- */
.separateur 
{
   position: relative;
   margin-top: 50px;
}

.rond-bleu-separateur
{
	position: absolute;
	top: -10px;
	left: calc(50% - 9px);
}

hr
{
    background-color: #ebebeb;
    height: 2px;
    border: none;
    width: 800px;
    margin-top: 10px;
 }

.rond-bleu
{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #041028;
	border: solid 3px white;
}

#deuxieme
{
    margin-bottom: 45px; 
    position: relative;
}

#color-sepa
{
    background-color: #e0e0e3;
}
/* ------------------- TABLEAU ------------------- */
table
{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 21px;
    line-height: 5rem;
    font-style: italic;
    color: #041028;
}

.td1
{
   width: 200px;
}

.td2
{
    line-height: 1.165rem;
}

.td3
{
    width: 200px;
}

/* ------------------- DESCRIPTION RESTAU ------------------- */
/* -- Séparateur --*/
#troisieme
{
    position: relative;
    margin-bottom: 25px;
}

    /* --  Description Restaurant -- */
#description_restau
{
    
}

#photo_accueil_one
{
    display: flex;
}
    
.h3_accueil
{
    color: #a28a74;
    text-align: center;
}
    
#text_accueil
{
    width: 500px;
    margin-left: 25%;
    background-color: #041028;
    color: white;
    padding-top: 65px;
    text-align: center;
}
    
#position_un
{
    font-size: 18px;
    width: 400px;
    margin-left: 50px;
}

/* -- PARTIE 2 -- */
#photo_accueil_two
{
    display: flex;
}

#text_accueil_deux
{
    width: 500px;
    margin-left: 25%;
    background-color: #041028;
    color: white;
    padding-top: 65px;
    text-align: center;
}

#position_deux
{
    font-size: 18px;
    width: 400px;
    margin-left: 50px;
}

#pic_accueil_two
{
    margin-top: -4px;
}
/* -- PARTIE 3 -- */
#photo_accueil_three
{
    display: flex;
}

#text_accueil_trois
{
    width: 500px;
    margin-left: 25%;
    background-color: #041028;
    color: white;
    padding-top: 65px;
    text-align: center;
}

#position_trois
{
    font-size: 18px;
    width: 400px;
    margin-left: 50px;
}

#pic_accueil_three
{
    margin-top: -4px;
}
/* ------------------- FOOTER ------------------- */
footer
{
    background-image: linear-gradient(to right, #041028, #031432, #01173b, #011a45, #031c4f);
    color: white;
    display: flex;
    justify-content: space-around;
    width: auto;
    padding-top: 10px;
    padding-bottom: 0px;    
}

.titre_footer
{
    font-weight: bold;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

#media
{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

#copyright
{
    padding-top: 50px;
}

#media i:hover
{
    color: #a28a74;
}

#media i
{
    color: white;
}

/* ------------------- MENUS.HTML ------------------- */
/* -- Plat du Jour --*/
#plat-du-jour
{
    margin-top: 200px;
    font-size: 40px;
}


/*-- Carte du Restaurant --*/
#carte-menus
{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    color: white;
}

#carte-menus-two
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
}

#menu-one
{
    text-align: center;
    border: 3px solid #a28a74;
    margin-left: 150px;
    background-color: #041028;
    border-radius: 50px;
}

#menu-two
{
    text-align: center;
    margin-right: 150px;
    border: 1px solid black;
    background-color: #041028;
    border: 3px solid #a28a74;
    border-radius: 50px;
}

#menu-three
{
    margin-left: 100px;
    text-align: center;
    background-color: #041028;
    border: 3px solid #a28a74;
    border-radius: 50px;
}

#menu-four
{
    margin-right: 150px;
    text-align: center;
    background-color: #041028;
    border: 3px solid #a28a74;
    border-radius: 50px;
}

h4
{
    font-weight: bold;
    font-size: 25px;
    color: #a28a74;
}

.strong-menu
{
    font-weight: bold;
    font-size: 18px;
    color: #a28a74;
}

/* -- RECETTES -- */
#recette
{
   text-align: center;
   font-size: 24px;
}

#h2-recettes
{
    margin-top: 50px;
}

.espace
{
   height : 30px
}

th, td 
{
   padding: 20px
}

table
{
   margin: auto;
}

h3
{
   font-size: 30px;
}

td
{
   text-align: center;
}

.pdf-recettes
{
    text-decoration: none;
    color: #041028;
}

.pdf-recettes:hover
{
    
}

/* ------------------- RESERVATION.HTML ------------------- */
.flex-item
{
    width: 100%;
    height: auto;
    text-align: center;
    flex: 1;
    margin-top: 140px;
}

form 
{
    margin: 0 auto;
    width: 400px;
    color:white;
    font-size:25px;
    display:inline-table; 
    padding: 1em;
    border: 2px solid #a28a74;
    border-radius: 1em;
    background-color: #041028;
}
:required 
{

    border:2.5px solid red;
}

:required:valid 
{
    border:2.5px solid green ; 
}

form div + div 
{
    margin-top: 1em;
}

label 
{
    display: inline-block;
    width: auto;
    text-align: right;
    color: #a28a74;
    font-family: 'Old Standard TT', serif;
}
 
input, textarea 
{
    font: 1em sans-serif;
    width: 500px;
    height:45px;
    padding-left:10px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius:1em;
}

input:focus, textarea:focus 
{
    border:2px solid yellow;
    box-shadow: 5px solid #a28a74;
}

textarea 
{
    vertical-align: top;
    height: 6em;
}

.button 
{
    padding-left: 90px;
}
#reserver:hover{
    background-color: #041028;
    color: white;
}
#reserver 
{
    font-size: 30px;
    font-family: 'Old Standard TT', serif;
    color: #041028;
    margin-left: -85px;
    border-radius: 30px;
}
button 
{
   margin-left: .5em;
}

/* ------------------- CONTACT.HTML ------------------- */
/*-- contact + horaire -- */
#horaire
{
    display: flex;
    justify-content: center;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 21px;
    line-height: 5rem;
    font-style: italic;
    color: #041028;
}

#horaire td 
{
    font-size:30px;
    font-style: oblique;
    font-weight:bold;
    width:300px;

}

#horaire th 
{
    font-size:45px;
    font-family: 'Old Standard TT', serif;

}

#horaire th td 
{
    text-align: center;
    color:white;
    border-radius: 40px;
    margin-top: 110px;
}
/* -- INFOS RESTAU -- */
#infos-restau
{
    list-style: none;
    font-size: 20px;
    border: 3px solid #a28a74;
    border-radius: 50px;
    background-color: #041028;
    color: white;
}

#infos-restau li
{
    padding-top: 10px;
    text-align: center;
}


/* ------------------- MEDIA QUERIES ------------------- */
@media all and (max-width: 630px)
{

	/* ------- MENU QUERIES --------*/
    body
    {
        width: 100%;
    }
    
    header
    {
        flex-direction: column;
        width: auto;
    }

    h1
    {
        margin-top: 15px;
    }
    
    #banniere
    {
        display: none;
    }

    nav li
	{
		margin-right: 10px;
    }
    
    nav a:hover
	{
		border-top: none;
	}

}